@using RoastHiveMvc.ViewModels
@model ContactFormVM

@{
    ViewData["Title"] = "Contact Us";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row text-center">
            <div id="contact-header">
                <div class="col-12 my-auto">
                    <h1 class="display-4 about-heading text-uppercase pb-3">
                        Contact Us
                    </h1>
                    <h3 class="about-sub-heading pt-4">
                        We're Here to Answer Your Questions <br>
                        and Share Our Passion for Coffee 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact form  -->
    <div class="container mb-2">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="section-heading text-uppercase text-center">
                    Get in Touch with Roast Hive
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead">We would love to hear from you! Whether you have a question about our products, need assistance with your order, or simply want to share your love for coffee, our team is ready to assist you. Fill out the contact form below, and we'll get back to you as soon as possible. Your feedback and inquiries are important to us, and we value the opportunity to connect with fellow coffee enthusiasts like you. 
                        </p>
                        <p class="lead">Submit an enquiry form or give us a call on the number below to kick start your subscription.</p>
                        <a href="tel:+353875555222">
                            +353 (0) 875555000
                        </a>
                    </div>
                    <div class="col-lg-6 justify-content-center contact-form px-4">
                        <form method="POST" id="contact-form" class="getInTouch-form" action="/Contact/SendEmail">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                            </div>
                            <div class="text-center mb-5 mt-4">
                                <button type="submit" class="btn cta-btn btn-lg uppercase" id="contact-form-button" aria-label="Submit the contact form">SEND</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>