@{
    ViewData["Title"] = "Contact Us";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row text-center">
            <div id="contact-header">
                <div class="col-12 my-auto">
                    <h1 class="display-4 about-heading text-uppercase">
                        Contact Us
                    </h1>
                    <h3 class="about-sub-heading pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact form  -->
    <div class="container mt-2">
        <div class="row">
            <div class="col-12">
                <h3 class="section-heading-2 text-uppercase text-center mb-5">
                    Get in Touch
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Get in touch with us to start your day rejuvenated.</h5>
                        <p class="lead">ROAST HIVE team work to usual Irish office hours (09:00-17:00); 
                            however, we are happy to chat travel after our opening hours. 
                        </p>
                        <p class="lead">Submit an enquiry form or give us a call on the number below to kick start your subscription.</p>
                        <h5 class="mb-5">+353 (0) 875555000</h5>
                    </div>
                    <div class="col-lg-8 justify-content-center contact-form px-4">
                        <form method="POST" action="#" id="contact-form">
                            <div class="text-center mb-5 mt-4">
                                <button type="submit" class="btn cta-btn btn-lg uppercase" id="contact-form-button"
                                    aria-label="Submit the contact form">
                                    SEND
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>