/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Footer */
footer {
  background-color: #3e4551;
  width: 100%;
}

#copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a, 
.footer-phone a {
  color: #fafafa;
  text-decoration: underline;
}

.update-link,
.remove-item {
  cursor: pointer;
}

a {
  text-decoration: none;
}
