@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
       <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
   </li>
   <li class="nav-item">
       <div class="dropdown dropstart">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Account
         </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <li class="nav-item pe-5">
            <a class="nav-link active-nav-link" asp-area="" asp-controller="ManageProduct" asp-action="Index">
            Manage Shop
            </a>
            </li> 
           <li class="dropdown-divider"></li>
           <li class="nav-item">

            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
            </li>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="my-2 my-sm-0 text-dark pe-4" id="register" asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-box-arrow-in-right pe-1"></i>Register
        </a>
    </li>
    <li class="nav-item">
        <a class="my-2 my-sm-0 text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-person-add pe-1"></i>Login
        </a>
    </li>
}
</ul>