@* @using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item pe-5">
        <a class="nav-link active-nav-link" asp-area="" asp-controller="ManageProduct" asp-action="Index">
        Manage Shop
        </a>
    </li> 
} *@