@{
    ViewData["Title"] = "Subscription";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row">
            <div id="subscription-header">
                <div class="container text-end" >
                    <div class="row">
                        <div class="col-lg-12 col-md-6 text-end ms-3 me-3">
                            <div id="subscription-subheading" class="text-end">
                                <h3 class="pt-4" id="subscription-p">
                                    Subscribe to something <br>
                                    original. 
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="my-5">
                        <h4>
                            <a href="#" class="explore-button btn btn-outline-success text-uppercase btn-lg py-2" 
                                aria-label="Subscribe">
                                subscribe
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Paragraph section -->
<section class="pb-5">
    <div class="container pb-2">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading">
                    Want to conveniently receive our coffees at home or send them as a gift to that remarkable someone? Well, now you can with our tailored subscription program.
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- Subscription section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container mt-5 pt-5 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-lg-6 col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/coffee-beans.png" alt="">
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-4">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/shipment.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
            </div>
        </div>
    </div>
    <div class="container pt-4 pb-4">
        <div class="row mt-3 section-para">
            <div class="col-lg-6 col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/mug.png" alt="">
            </div>
        </div>
    </div>
</section>


