@{
    ViewData["Title"] = "Home Page";
}
<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row">
            <div id="home-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 my-auto ms-3 me-3">
                            <h1 class="display-4 main-heading text-uppercase">
                                In search for the best sustainable coffee worldwide
                            </h1>
                            <h3 class="sub-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                In non eros semper, consequat lectus vel, rutrum augue.
                            </h3>
                            <div class="my-5">
                                <h4>
                                    <a href="#" class="explore-button btn btn-outline-success btn-lg py-2" 
                                        aria-label="Explore trail running adventures offer">
                                        SHOP NOW
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Higlights section -->
<section id="highlights-banner-section">
    <div class="highlights-banner-container text-center d-none d-sm-block">
        <div class="highlights-banner">
            <div class="highlights-banner-block">
                <div class="highlights-banner-icon">
                    <i class="bi bi-truck" aria-hidden="true"></i>
                </div>
    	        <div class="highlights-banner-para">
                    <span class="highlights-banner-heading">
                        SIMPLE SHIPPING
                    </span>
                    <p class="highlights-banner-text">Some additional text</p>
                </div>
            </div>
            <div class="highlights-banner-block">
                <div class="highlights-banner-icon">
                    <i class="bi bi-credit-card-2-back-fill" aria-hidden="true"></i>
                </div>
                <div class="highlights-banner-para">
                    <span class="highlights-banner-heading">
                        PAY ONLINE
                    </span>
                    <p class="highlights-banner-text">Secure Online Checkout</p>
                </div>
            </div>
            
            <div class="highlights-banner-block">
                <div class="highlights-banner-icon">
                    <i class="bi bi-cup-fill" aria-hidden="true"></i>
                </div>
                <div class="highlights-banner-para">
                    <span class="highlights-banner-heading">
                        ORGANIC COFFEE
                    </span>
                    <p class="highlights-banner-text">Sustainable Harvests</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Intro section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col mb-4 ms-4">
                <h2 class="section-heading fst-italic">
                    We scoured the world to find the 
                    <br>
                    best coffees a home. Yours.
                    </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="text-center col-md-8 offset-md-2 col-sm-6 offset-sm-3">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Fugiat maxime nihil doloremque dolorum ipsa sequi voluptatem necessitatibus itaque maiores.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Fugiat maxime nihil doloremque dolorum ipsa sequi voluptatem necessitatibus itaque maiores.
                </p>
            </div>
        </div>
    </div>
</section>
<!--  Coffee products section -->
<section class="pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col mb-4">
                <h2 class="section-heading fst-italic">Featured coffees</h2>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        
        <div class="col-md-4 my-3">
            <div class="card p-2">
                <div class="p-info px-3 py-3">
                    <div>
                        <h5 class="mb-0">Single Blend</h5>
                        <span>Some text</span>
                    </div>
                    <div class="p-price d-flex flex-row"> 
                        <span>€</span> 
                        <h1>35</h1> 
                    </div> 
                </div>
                <div class="text-center p-image"> 
                    <img src="~/images/coffee1_r.png" alt=""> 
                </div> 
                <div class="p-about"> 
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                    </p> 
                </div>
                <div class="buttons d-flex flex-row gap-3 px-3"> 
                    <button class="btn btn-danger btn-card">View</button> 
                    <button class="btn btn-outline-danger btn-card">Buy Now</button> 
                </div>  
            </div>
        </div>
    </div>
    
     <div class="row text-center">
            <div class="mt-3">
                <a href="" class="btn btn-warning text-uppercase">All Coffees</a>
            </div>
        </div>
</section>
<!--  Subscription section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">Subscribe to something original.</h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
    <div class="row mt-3 section-para">
        <div class="col-md-6 mx-auto">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
            </p>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
            </p>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Fugiat maxime nihil doloremque dolorum ipsa sequi voluptatem necessitatibus itaque maiores.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img class="img-fluid subscription-img" src="~/images/subscription-img.png" alt="">
        </div>
    </div>
</div>
</section>
<!--  Coffee products section -->
<section class="pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col mb-4">
                <h2 class="section-heading fst-italic">Coffee Equipment for Home</h2>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="col-md-4 my-3">
            <div class="card p-2">
                <div class="p-info px-3 py-3">
                    <div>
                        <h5 class="mb-0">Espresso Machine</h5>
                        <span>Some text</span>
                    </div>
                    <div class="p-price d-flex flex-row"> 
                        <span>€</span> 
                        <h1>999</h1> 
                    </div> 
                </div>
                <div class="text-center p-image"> 
                    <img src="~/images/coffee-machine.jpg" alt=""> 
                </div> 
                <div class="p-about"> 
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                    </p> 
                </div>
                <div class="buttons d-flex flex-row gap-3 px-3"> 
                    <button class="btn btn-danger btn-card">View</button> 
                    <button class="btn btn-outline-danger btn-card">Buy Now</button> 
                </div>  
            </div>
        </div>
    </div>
    
     <div class="row text-center">
            <div class="mt-3">
                <a href="" class="btn btn-warning text-uppercase">All Equipment</a>
            </div>
        </div>
</section>

<!-- Impact section -->
<section class="bg-coffee full-bg pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">
                    Making An Impact, 
                    <br>
                    One Cup At A Time.
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/impact-img_r.jpg" alt="">
            </div>
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    Roast Hive Coffee is committed to making custom coffee, convenient without compromise. We aim to improve not only the lifestyle of our consumers but also the world we all live in. We're passionate about leaving a profound and positive environmental, social, and governance impact. With that said, Roast Hive has chosen to put regenerative farming practices at the forefront of its mission. 
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
            </div>
        </div>
    </div>
</section>