/* _content/RoastHiveMvc/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.btn-primary[b-grnlqzg76a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-grnlqzg76a] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-grnlqzg76a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-grnlqzg76a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Footer */
footer[b-grnlqzg76a] {
  background-color: #3e4551;
  width: 100%;
}

#copyright[b-grnlqzg76a] {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a[b-grnlqzg76a], 
.footer-phone a[b-grnlqzg76a] {
  color: #fafafa;
  text-decoration: underline;
}

.update-link[b-grnlqzg76a],
.remove-item[b-grnlqzg76a] {
  cursor: pointer;
}

a[b-grnlqzg76a] {
  text-decoration: none;
}
