@model Product
@{
    ViewData["Title"] = "Shop Products";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row text-center">
            <div id="shop-header">
                <div class="col-lg-12 col-md-6 ms-3 me-3">
                    <h1 class="display-4 about-heading text-uppercase">
                        SHOP
                    </h1>
                    <h3 class="about-sub-heading pt-4">
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="products-heading text-uppercase text-center mb-4">
                Products
            </h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center mb-5">
        <!-- Product Card -->
        <div class="col-lg-4 col-md-6 col-sm-6 align-items-stretch mb-2">
            <div class="card zoom-effect h-100 border-0 mt-2">
                <a href="#" class="text-center mt-3 p-2">
                    <img src="~/images/coffee1_r.png" alt="" 
                        class="img-fluid product-card-img">
                </a>
                <div class="card-body pb-0 text-uppercase">
                    <p class="mb-0">@Model.Name</p>
                </div>
                <div class="card-footer bg-white">
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">
                                € @Model.UnitPrice
                            </p>
                        </div>
                    <hr class="product-divider">
                </div>
            </div>
        </div>
    </div>
</div>
