@{
    ViewData["Title"] = "About Us";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row text-center">
            <div id="about-header">
                <div class="col-12 my-auto">
                    <h1 class="display-4 about-heading text-uppercase">
                        About Us
                    </h1>
                    <h3 class="about-sub-heading pt-4">
                        Crafting Exceptional Roasts to Delight Your Senses 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Our Story section -->
<section class="pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">
                    Our Story.
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    It all began with a shared love for the captivating world of coffee. Roast Hive was founded by a group of passionate coffee enthusiasts who embarked on a mission to bring exceptional coffee experiences to fellow connoisseurs. We set out on a journey to discover the most remarkable beans from all corners of the globe, guided by an unwavering commitment to quality, sustainability, and the pursuit of coffee perfection.
                </p>
                <p class="lead">
                    As we delved deeper into the art of coffee, our appreciation for the intricate process behind each cup grew. We recognized that great coffee starts at the source, which is why we dedicated ourselves to forming direct relationships with coffee farmers and cooperatives. By working hand in hand with these guardians of the land, we gained a profound understanding of their craft, the challenges they face, and the care they pour into their harvests. This partnership forms the foundation of our commitment to ethically sourced, high-quality beans.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/about1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-coffee full-bg pb-5 pt-5">
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/about2.jpg" alt="Woman holding cup of coffee">
            </div>
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    With a relentless pursuit of excellence, we developed a meticulous roasting process that highlights the unique flavors and nuances inherent in every bean. Our experienced artisans skillfully apply their expertise, using state-of-the-art equipment to unlock the full potential of each origin. From the delicate floral notes of Ethiopian Yirgacheffe to the bold, chocolaty richness of a Brazilian blend, our roasts are crafted to evoke a sensory journey with every sip.
                </p>
                <p class="lead">
                    Driven by our love for coffee and our unwavering commitment to quality and sustainability, Roast Hive has evolved into a thriving community of coffee enthusiasts. We take pride in sharing our passion and knowledge, helping our customers navigate the vast world of coffee and discover new flavors and brewing techniques. We invite you to join us on this extraordinary journey, where every sip tells a story and every cup is an ode to the remarkable artistry of coffee.
                </p>
            </div>
        </div>
    </div>
</section>

<!--  Our Philosophy section -->
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">
                    Our Philosophy.
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    Quality is the foundation of everything we do. From the moment the beans arrive at our doorstep, we meticulously oversee every step of the roasting process to unlock their full potential. Our experienced artisans craft each roast with precision, carefully balancing time, temperature, and technique to coax out the unique flavors and characteristics of each origin. 
                </p>
                <p class="lead">
                    We are dedicated to transparency and traceability. We believe in sharing the story behind each coffee, from its origin to the hands that cultivated it. By fostering direct relationships with farmers and cooperatives, we ensure fair compensation and support for the communities that work tirelessly to bring these exceptional beans to your cup.
                </p>
                <p class="lead">
                    By fostering direct relationships with farmers and cooperatives, we not only ensure that our beans are ethically sourced, but we also contribute to the social and economic well-being of the coffee-growing communities. Through fair trade practices and investments in education and infrastructure, we strive to empower farmers and their families, creating a sustainable and thriving future for generations to come.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/impact.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-coffee full-bg pb-5 pt-5">
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/cofee_cup_beans.png" alt="">
            </div>
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    At Roast Hive, sustainability is ingrained in our DNA. From environmentally responsible packaging to eco-friendly roasting practices, we strive to minimize our impact on the planet. We embrace innovation and constantly explore new ways to make a positive difference in the coffee industry, ensuring that future generations can also enjoy the wonders of this extraordinary beverage. 
                </p>
                <p class="lead">
                    Join us on this journey of flavor exploration, where every sip transports you to far-off lands and ignites your passion for the perfect cup of coffee. At Roast Hive, we are dedicated to crafting roasts that not only tantalize your taste buds but also celebrate the artistry and craftsmanship that goes into every brew. Experience the difference with us.
                </p>
            </div>
        </div>
    </div>
</section>