@{
    ViewData["Title"] = "About Us";
}

<!-- Hero section -->
<div class="header-content">
    <div class="container-fluid" id="hero-content">
        <div class="row text-center">
            <div id="about-header">
                <div class="col-12 my-auto">
                    <h1 class="display-4 about-heading text-uppercase">
                        About Us
                    </h1>
                    <h3 class="about-sub-heading pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Our Story section -->
<section class="pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">
                    Our Story.
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Fugiat maxime nihil doloremque dolorum ipsa sequi voluptatem necessitatibus itaque maiores.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/about1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-coffee full-bg pb-5 pt-5">
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/about2.jpg" alt="Woman holding cup of coffee">
            </div>
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
            </div>
        </div>
    </div>
</section>

<!--  Our Philosophy section -->
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-heading fst-italic">
                    Our Philosophy.
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Fugiat maxime nihil doloremque dolorum ipsa sequi voluptatem necessitatibus itaque maiores.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/impact.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-coffee full-bg pb-5 pt-5">
    <div class="container mt-3 pt-3 pb-5">
        <div class="row mt-3 section-para">
            <div class="col-md-6 text-center">
                <img class="img-fluid subscription-img" src="~/images/" alt="">
            </div>
            <div class="col-md-6 mx-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. 
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio similique sit distinctio cumque culpa aperiam, error magnam quisquam.
                </p>
            </div>
        </div>
    </div>
</section>