@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
  scroll-behavior: smooth;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

/* Navbar */
.brand-logo {
  width: 6.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-link:hover {
  border-bottom: 0.15rem solid #7F5539;
  padding-bottom: 0.15rem;
}

/* Resize top navbar icons  */
.nav-icons {
  font-size: 1.5em;
}

#user-options {
  margin-right: 2rem;
}

/*
.active-nav-link {
  color: #439B94 !important;
  font-weight: bold;
}
*/

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:#daf7f7;
}

.list-inline {
  padding-left: 6rem;
}

input[name='q']::placeholder {
  color: #aab7c4;
}

/* Hero section */
#hero-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#home-header {
    background: url(../images/hero-image_1.jpg) no-repeat center;
    background-size: cover;
    height: 39rem;
}

.main-heading {
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #b59191;
  text-shadow: 0.07rem 0.06rem #fafafa;
}

.sub-heading {
  color: #fafafa;
  text-shadow: 0.1rem 0.1rem #212324;
}

.section-heading {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.section-button {
  background-color: #439B94;
  color: #fafafa;
}

.section-button:hover, .section-button:active {
  background-color: #439B94;
  color: #fafafa;
}

.btn-outline-success {
  color: #fafafa !important;
  border-color: #fafafa !important;
  border-width: 0.1rem;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
  color: #000000;
  background-color: #439B94;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

/* Banner section */

#highlights-banner-section {
  margin: 3.5rem;
}

.highlights-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.highlights-banner-block {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-right: 8rem;
}

.highlights-banner-icon {
  color: #c28135;
  font-size: 3.5rem;
  margin-right: 2rem;
}

.highlights-banner-heading {
font-weight: bold;
}

/* Section background color*/

.bg-coffee {
  box-shadow: 0 0 0 100vmax #EDE0D4;
  clip-path: inset(0 -100vmax);
}

.full-bg {
  background-color: #EDE0D4;

}

.section-para {
  align-items: center !important;
}

/* Homepage - featured coffee */

.card {
  width: 21.875rem;
  border: none;
  height: 21.875rem !important;
  border-radius: 0.188rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.p-info {
  display: flex;
  justify-content: space-between;
}

.p-price {
  position: absolute;
  right: 0.625rem;
  top: 1.25rem;
}

.p-image img {
  width: 12.5rem;
  transform: rotate(15deg);
  transition:all 0.5s;
}

.p-about {
  position: absolute;
  width: 10.625rem;
  font-size: 0.625rem;
  top: 8.75rem;
  left: -7.813rem;
  opacity: 0;
}

.card:hover .p-about {
  animation: content 300ms ease-in forwards
}

@keyframes content {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1;
      left: 1.56rem;
  }
}

.card:hover .p-image img {
  animation: onimage 300ms ease-in forwards
}

.card:hover .p-price {
  animation: onprice 500ms ease-in forwards
}

@keyframes onprice {
  0% {
      right: 0.625rem;
      top: 1.25rem
  }

  50% {
      right: 3.75rem;
      top: 1.875rem
  }

  100% {
      right: 16.688rem;
      top: 4.375rem
  }
}

@keyframes onimage {
  0% {
      width: 15.625
  }

  50% {
      width: 12.5;
      transform: translateY(-1.875rem);
      transform: translateX(6.25rem)
  }

  100% {
      width: 11.25rem;
      top: 6.25rem;
      transform: translateY(6.25rem);
      transform: translateX(6.875rem)
  }
}

.buttons {
  position: absolute;
  bottom: -9.375rem
}

.card:hover .buttons {
  animation: buttons 500ms ease-in forwards
}

@keyframes buttons {
  0% {
      bottom: -6.25rem
  }

  100% {
      bottom: 1.25rem
  }
}

.btn-card {
  height: 3.125rem;
  font-size: 1rem;
  width: 8.75rem !important;
  font-weight: 600
}

/* About Us page*/
#about-header {
  background: url(../images/about-hero.jpg) no-repeat center;
  background-size: cover;
  min-height: 76vh;
}

.about-heading {
  margin-top: 9.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fafafa;
  text-shadow: 0.15rem 0.15rem #000000;
}

.about-sub-heading {
  color: #fafafa;
  text-shadow: 0.1rem 0.1rem #212324;
  font-family: 'Lato', sans-serif;
}


/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    padding-top: 3.75rem;
  }

  .brand-logo {
    width: 9.4rem;
  }

  #home-header {
    height: 40rem;
}

  .section-heading-2 {
    font-size: 3rem;
  }
}


/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    .navbar {
      font-size: 1.1rem;
    }

    #home-header {
      height: 33rem;
  }

    .section-heading-2 {
      font-size: 3.2rem;
      font-weight: 700;
    }

    .search-mob {
      display: none;
    }

}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {

    .brand-logo {
      width: 6.4rem;
    }

    .fa-shopping-cart {
      font-size: 0.9rem !important;
    }
}

