@model Product
@{
    ViewData["Title"] = "Single Origin";
}

  
  <div class="col-lg-4 col-md-6 col-sm-6 align-items-stretch mb-2">
            <div class="card zoom-effect h-100 border-0 mt-2">
                <a href="#" class="text-center mt-3 p-2">
                    <img src="~/images/coffee1_r.png" alt="" 
                        class="img-fluid product-card-img">
                </a>
                <div class="card-body pb-0 text-uppercase">
                    
                        @if (@Model.CatId == "Single Origin")
                        {
                            <p class="mb-0"> @Model.Name;</p>
                        }
                    
                </div>
                <div class="card-footer bg-white">
                    <div class="row">
                        <div class="col">
                            <p class="font-weight-bold">
                                € @Model.UnitPrice
                            </p>
                        </div>
                    <hr class="product-divider">
                </div>
            </div>
        </div>