@model Product

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mt-5 pb-4">Delete Product</h2>
            <h4 class="py-2">
                You are about to delete <strong>@Model.Name</strong>
            </h4>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.ProdID">
        <input asp-for="ProdID" hidden/>
        <div class="border p-3 mt-4">
            <div class="form-floating py-2 col-12">
                <input asp-for="Name" disabled class="form-control border-0 shadow"/>
                <label asp-for="Name" class="ms-2"></label>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-danger form-control">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="ManageProduct" asp-action="Index" class="btn btn-primary border  form-control">Back to List of Products</a>
                </div>
            </div>
        </div>
    </form>
</div>