@model Product

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mt-5 pb-2">Create Product</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form id="editForm" method="post" asp-action="Edit" asp-route-id="@Model.ProdID">
            <input type="hidden" asp-for="ProdID"/>
            <div class="border p-3">
                <div asp-validation-summary="All"></div>
                <div class="form-floating py-2">
                    <input asp-for="Name" class="form-control border-0 shadow"/>
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CatId" class="form-control border-0 shadow"/>
                    <label asp-for="CatId" class="ms-2"></label>
                    <span asp-validation-for="CatId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Size" class="form-control border-0 shadow"/>
                    <label asp-for="Size" class="ms-2"></label>
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="UnitPrice" class="form-control border-0 shadow"/>
                    <label asp-for="UnitPrice" class="ms-2"></label>
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Origin" class="form-control border-0 shadow"/>
                    <label asp-for="Origin" class="ms-2"></label>
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Url" class="form-control border-0 shadow"/>
                    <label asp-for="Url" class="ms-2"></label>
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="ManageProduct" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List of Products
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>